@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=Rubik:wght@400;500;600;700&display=swap');

@import "tailwindcss";


body{
  background-color:#161D21 ;
  font-family: 'Rubik', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Syne', sans-serif;
}
html, body {
  overflow-x: hidden;
}